@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: $oswald-font;
}

a {
  text-decoration: none;
}

.App {
  background-color: $lighter-gray-color;
  padding: 1em 0;

  .container {
    box-shadow: 13px 47px 100px 40px rgba(218, 72, 72, 0.67);
    width: 1500px;
    margin: 0 auto;
    background-color: $light-gray-color;
    @include mainBorderRadius;
    @include mainBorder($middle-gray-color);
    @include notebook {
      width: 100%;
    }
    display: flex;

    .left-side-container {
      min-width: 23em;
      width: 26em;
      background-color: $dark-gray-color;
      @include differentBorderRadius(1em, 0, 1em, 0);
      border-right: $middle-gray-color .5px solid;
    }

    .middle-side-container {
      width: 110em;
      height: 100%;
      background-color: $light-gray-color;
    }

    .right-side-container {
      min-width: 20em;
      width: 23em;
      height: 100%;
      background-color: $light-gray-color;
      @include differentBorderRadius(0, 1em, 0, 1em);
    }
  }
}

