@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.session-info-section-container {
  padding: .7em 0 1.5em 0;
  text-align: center;

  .section-header-title {
    padding-bottom: .5em;
    position: relative;

    &:after {
      content: "";
      width: 10em;
      height: .1em;
      background: $red-color;
      position: absolute;
      transform: translate(-50%, -50%);
      top: -20%;
      left: 50%;
    }
  }
  .session-info-section-box {
    padding-bottom: .2em;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: center;

    .session-info-parameter-title {
      color: $lighter-gray-color;
    }
    .session-info-parameter-value {
      padding-left: .2em;
      color: $white-color;
    }
  }
}