@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.sort-filter-section-container {
  box-shadow: 13px 47px 100px 40px rgba(218, 72, 72, 0.67);
  background-color: $light-gray-color;
  @include mainBorderRadius;
  @include mainBorder($middle-gray-color);
  margin: 1em auto .6em auto;
  width: 95%;
  padding: 2em;

  .sort-filter-section-headers {
    display: flex;
    justify-content: space-between;

    .section-header-title {
      padding: 0 .4em .3em .4em;

      &:after {
        content: "";
        width: 5em;
        height: .1em;
        background: $tomato-color;
        position: absolute;
        transform: translate(-50%, -50%);
        top: -20%;
        left: 50%;
      }
    }
  }

  .sort-filter-section-forms {
    display: flex;
    justify-content: space-evenly;

    .sort-section-form-container,
    .filter-section-form-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.7em;
      font-weight: 500;
      color: $lighter-gray-color;
      text-shadow: 1px 0 10px rgba(255, 150, 150, 1);
      text-align: center;
    }
  }
}

.sort-section-form-box,
.filter-section-form-box {
  padding-top: .5em;
}

//elements

.sort-section-form-box {
  cursor: pointer;
  user-select: none;
  .sort-section-form-radio-input {
    width: 1.1em;
    height: 1.1em;
    border: .1em solid $middle-gray-color;
    border-radius: 50%;
    appearance: none;
    background-color: $white-color;
    cursor: pointer;
    //opacity:0;

    &:hover {
      background-color: $dark-gray-color;
    }

  .sort-section-form-radio-label {
    padding-left: .5em;
  }
}





.filter-section-form-checkbox-label {
  padding-left: .5em;
  cursor: pointer;
}


}



.filter-section-form-checkbox-input {
  width: 1.1em;
  height: 1.1em;
  border: .1em solid $middle-gray-color;
  border-radius: .3em;
  background-color: $white-color;
  appearance: none;
  cursor: pointer;

  &:hover {
    background: $white-color url("../../images/checked.svg") center/contain no-repeat;
  }

  &:checked {
    background: $white-color url("../../images/checked.svg") center/contain no-repeat;
  }
}