@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.section-header-title {
  font-size: 1.5em;
  text-transform: uppercase;
  color: $red-color;
  font-weight: 700;
  text-align: center;
  position: relative;
}