@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.create-task-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  .create-task-modal-button-back {
    text-transform: uppercase;
    padding: .3em 0;
    width: 5em;
    color: $blue-color;
    font-size: 1em;
    font-weight: 700;
    background-color: $lighter-gray-color;
    letter-spacing: .1em;
    @include formsBorderRadius;
    @include mainBorder($middle-gray-color);
    &:hover {
      background-color: $blue-color;
      @include mainBorder($white-color);
      color: $white-color;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .create-task-modal-button-create {
    text-transform: uppercase;
    padding: .3em 0;
    width: 5em;
    color: $red-color;
    font-size: 1em;
    font-weight: 700;
    background-color: $lighter-gray-color;
    letter-spacing: .1em;
    @include formsBorderRadius;
    @include mainBorder($middle-gray-color);
    &:hover {
      background-color: $blue-color;
      @include mainBorder($white-color);
      color: $white-color;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}