@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: $oswald-font;

}

a {
  text-decoration: none;
}

.App {
  margin: 1em;
  display: flex;
  box-shadow: 13px 47px 100px 40px $blue-color;
  @include mainBorderRadius;
  @include mainBorder($lighter-gray-color);

  .left-side-container {
    margin: auto;
    min-width: 22em;
    width: 24em;
    background-color: $dark-gray-color;
    @include differentBorderRadius(1em, 0, 1em, 0);
    border-right: $middle-gray-color .5px solid;
  }

  .middle-side-container {
    margin: auto;
    width: 110em;
    height: 100%;
    background-color: $light-gray-color;
  }

  .right-side-container {
    margin: auto;
    min-width: 19em;
    width: 20em;
    height: 100%;
    background-color: $light-gray-color;
    @include differentBorderRadius(0, 1em, 0, 1em);
  }
}

