@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.tasks-list-container {
  margin: 0 auto 1em auto;
  padding: 2em 1em 1.2em 1em;
  box-shadow: -10px 28px 100px 17px rgba(255, 255, 255, 1);
  background-color: $white-color;
  width: 95%;
  @include mainBorderRadius;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .section-header-title {
    padding-bottom: .5em;
    font-weight: 700;
    font-size: 1.8em;
    color: $middle-gray-color;

    &:after {
      content: "";
      width: 7.5em;
      height: .1em;
      background: $middle-gray-color;
      position: absolute;
      transform: translate(-50%, -50%);
      top: -20%;
      left: 50%;
    }
  }
}