@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";

.now-playing-section-container {
  padding: .5em 0;
  background-color: $blue-color;
  @include differentBorderRadius(0, 0, 1em, 0);
  .now-playing-section-body {
    box-shadow: 13px 44px 100px 78px rgba(113, 110, 110, 0.67);
    margin: 0 auto;
    width: 94%;
    height: 14.3em;
    background: url("../../images/poster.png") no-repeat center/cover;
    @include mainBorderRadius;
    @include mainBorder($middle-gray-color);
    display: flex;
    align-items: flex-end;
    .now-playing-text-box {
      width: 100%;
      background-color: $light-gray-color;
      padding: .2em .6em .3em .6em ;
      @include differentBorderRadius(0, 0, 1em, 1em);
      .now-playing-title {
        font-size: 1.2em;
        color: $red-color;
        font-weight: 700;
        .now-playing-title-value {
          color: $dark-gray-color;
          position: absolute;
          animation: drive 3s alternate infinite linear;
          }
        }
      }
    }
  }

@keyframes drive {
  0% {
    transform: translate(0%);
  }

  50% {
    transform: translate(50%);
  }

  100% {
    transform: translate(100%);
  }
}