@import "../settings/colors";
@import "../settings/fonts";
@import "../settings/mixins";


.settings-section-container {
  padding-top: 1.3em;
  text-align: center;

  .section-header-title {
    position: relative;

    &:after {
      content: "";
      width: 10em;
      height: .1em;
      background: $red-color;
      position: absolute;
      transform: translate(-50%, -50%);
      top: -20%;
      left: 50%;
    }
  }

  .settings-section-option-box {
    .settings-section-option-label {
      font-size: 1.5em;
      font-weight: 500;
      color: $lighter-gray-color;
      padding: .5em 0 .1em 0;
      text-shadow: 1px 0 10px $blue-color;
    }
  }
}

.settings-section-tooltip-form-box {
  padding: .6em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  font-weight: 500;
  color: $lighter-gray-color;
  text-shadow: 1px 0 10px $blue-color;

  .settings-section-tooltip-checkbox {
    width: 1.1em;
    height: 1.1em;
    border: .1em solid $middle-gray-color;
    border-radius: .3em;
    cursor: pointer;
    background-color: $white-color;
    appearance: none;
    &:checked {
      background: $white-color url("../../images/checked.svg") center/contain no-repeat;
    }

  }
  .settings-section-tooltip-title {
    padding-left: .4em;
  }
}