@mixin notebook {
  @media (max-width: 1352px) {
    @content;
  }
}

@mixin mainBorderRadius {
  border-radius: 1em;
}

@mixin formsBorderRadius {
  border-radius: .6em;
}

@mixin mainBorder($color) {
  border: $color .05em solid;
}

@mixin differentBorderRadius($radius-left-top, $radius-right-top, $radius-left-bottom, $radius-right-bottom) {
  border-top-left-radius: $radius-left-top;
  border-top-right-radius: $radius-right-top;
  border-bottom-left-radius: $radius-left-bottom;
  border-bottom-right-radius: $radius-right-bottom;
}